extends layouts/layout

block content
  main
    h2 All Articles
    .article-list
     include partials/list
    //- article list here
  footer
    h2 Add a New Article
    form(
        method="POST"
        action="/articles"
        hx-target=".article-list"
        hx-push-url="false"
    )
      input(
        type="text"
        name="name"
        placeholder="Article Name"
      )
      textarea(
        name="body"
        placeholder="Article Body"
      )
      button.btn(
        type="submit"
      ) Add Article 

      
